@import "./grid/bootstrap";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "global";
@import "typography";
@import "btn";



body {
  background: $white;
}

.slider-a {

  &__slide {
    position: relative;
  }

  img {
    margin: 1rem;
    width: 100%;
  }

  &__controls {
    display: flex;
    outline: none;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    button {
      background: rgba($dark-gray, 1);
      border-radius: 5px;
      border: none;
      cursor: pointer;
      width: 40px;
      height: 40px;
      outline: none;
      margin: 0 .2rem;
    }
  }

  &__icon {
    color: $white;
  }
}



