@import "./grid/bootstrap";
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "global";
@import "typography";
@import "btn";



body {
  background: $white;
}

.slider-a {

  &__wrapper {
    position: relative;
    margin: auto;
  }

  &__slide {
    padding: 1rem;
  }


  img {
    width: 100%;
  }

  &__controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: space-between;

    button {
      background: rgba($light-gray, 1);
      border-radius: 5px;
      border: none;
      cursor: pointer;
      width: 40px;
      height: 40px;
      outline: none;
    }
    
  }

  &__btn-left {
    margin-left: -.5rem;
  }

  &__btn-right {
    margin-right: -.5rem;
  }

  &__icon {
    color: $black;
  }
}



